* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 20vh;
    flex-direction: column;
    background-color: #150122;


}

.top-head {
    background-color: #150122;
    color: white;
    width: 100%;
    border-bottom: 2px solid #24013b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-midiaSocial {
    width: 16px;
    margin: 3px;
    margin-top: 0.5rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100vh;
    min-height: 130px;
}

#logo-size {
    display: flex;
    align-items: center;
    height: 6rem;
}

.nav-list {
    display: flex;
    list-style: none;
    color: black;
}

.nav-item {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-family:  Helvetica, Arial, sans-serif;
    color: white;
    font-size: 0.8rem;
}
.nav-item:hover{
    background-color: #4c0a01;
    color: white;
}

.flex-column {
    flex-direction: column;
}

.slider {
    flex: 1;
    overflow: hidden;
    border-top: 2px solid #330802;
}

.slide-width {
    height: 80vh;
    display: flex;
    transition: ease-in-out 1.7s;
}

.slide-item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 2px 2px #333;
    font-size: 50px;
    flex-direction: column;
}

.controls-slide{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    width: 100%;
}

.slide-control {
    width: 40px;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
}





.slide-item h1 {
    font-size: 40px;
    text-shadow: 3px 3px 0px #1f032c;
    max-width: 550px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    
}

.slide-item h2 {
    font-size: 22px;
    max-width: 670px;
    text-transform:none;
}

.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    padding-right: 14px;
    padding-left: 14px;
    height: 45px;
    color: white;
    border: 1.7px solid white;
    font-size: 16px;
    cursor: pointer;
}

.banner-button:hover {
    background-color: #ffffff1a;
    color: white;
}
h1 {
    font-size: 4rem;
}
#subtitle {
    color: white;
    font-weight: 1000px;
}






/* BOTÃO APOIA-SE */
button {
    cursor: pointer;
    z-index: 99;
}
.c-button {
    background: #150122;
    border-radius: 3em;
    border: 0;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 1.25em 2em;
    position: relative;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.c-button::before {
    background: #150122;
    border-radius: inherit;
    box-shadow: 0 0 0 2px transparent, 0 0.6em 0 0 transparent;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, 0.75em, -1em);
    transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100%;
}
.c-button:hover {
    transform: translate(0, 0.25em);
}
.c-button:hover::before {
    box-shadow: 0 0 0 2px #150122, 0 0.45em 0 0 #150122;
    transform: translate3d(0, 0.5em, -1em);
}
.c-button:active {
    background: #040107;
    transform: translate(0, 0.75em);
}
.c-button:active::before {
    box-shadow: 0 0 0 3px rgba(182, 0, 0, .45), 0 0 yellow;
    transform: translate3d(0, 0, -1em);
}
/* BOTÃO APOIA-SE */












.white-bg {
    background-color: white;
    color: black;
}

.section {
    background-color: white;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.2;
    color: black;
    text-align: center;
    margin-bottom: 5%;
}

.history-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 80%;
    text-align: left;
}


#history-escudos-setas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#history-setas {
    display: flex;
    align-items: center;
    margin: 10px;
}

.history-escudos {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#history img {
    width:80px;
    margin-top: 30px;
}


p {
    margin-bottom: 3%;
}

.grid-one-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    color: white;
    background-color: #150122;
    padding: 8rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    counter-reset: gridContador;
    justify-content: center;
    text-align: center;
}
.grid-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    counter-reset: gridContador;
    justify-content: center;
    text-align: center;
}

.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 0.4rem;
    color: white;

}

.grid h3::before {
    counter-increment: gridContador;
    content: counter(gridContador);
    position: absolute;
    font-size: 4rem;
    font-style: italic;
    top: -2rem;
    left: 1rem;
    transform: rotate(4deg);
}

.grid-top3 {
    margin-bottom: 1rem;
    color: white;
    text-align: left;
}

.grid-top3-description {
    display: flex;
    justify-content: left;
    padding-bottom: 5rem;
}

.top3-img:hover{
    transform: scale(1.01);
    
}

.top3-img { 
    -webkit-box-shadow: 9px 7px 5px #73329140;;
    -moz-box-shadow:    9px 7px 5px #73329140;;
    box-shadow:         1px 5px 33px #73329140;
    width:18rem;
    border-radius: 50%;
    border:4px solid #73329140;
}

.black-color-white-bg {
    background-color: white;
    color: black;
}



/* tabela */


/* tabela */


#gallery{display: grid; justify-content: center;}

.gallery-img {
    width: 100%;
    max-width: 20rem;
    max-height: 18rem;
    overflow: hidden;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 25px rgba(50, 50, 50, 0.77);
    
}

.gallery-img img {
    transition: all 300ms ease-in-out;
    
}
.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
#gallery h2 {
    margin-top: 6.7rem;
}















.divTable-responsive {
    overflow: hidden;
    overflow-x: auto;
}

.rTable {
    margin:auto;
    text-align: center;
    min-width: 360px;
    width: 50%;
    border-collapse: collapse;
}

.rTable thead {
    background-color: #150122;
    font-weight: bold;
    color: white;
}
.rTable tr:nth-child(2n){
    background-color: #cccccc1a;
    
}
.rTable th, .rTable td {
    padding: 0.6rem;
   
}
.rTable caption {
    font-style: italic;
    font-size: 0.7rem;
    text-align: left;
    margin-bottom: 0.5rem;
}



/* Largura da barra de rolagem */
 ::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171
}



.menu-mobile-content {
    display: none;
}

.menu-mobile {
    display: none;
    width: 40px;
    height: 40px;
}

.mm-line {
    height: 3px;
    background-color: white;
    border-radius: 6px;
}

.x-mobile {
    display: none;
}


.slide-mb1 {
    background-image: url(./imagens/banner-estadio.PNG);
}

.slide-mb2 {
    background-image: url(./imagens/banner-camisaroxa-drible.PNG);
    
}

.slide-mb3 {
    background-image: url(./imagens/jhon-penalti-banner.jpeg);
}

.slide-mb4 {
    width: 101vw;
    background-image: url(./imagens/banner4-embreve.PNG);
}

.estatisticas-time {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

table button {
    padding: 2.5px;
}
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 101;
    top: -1000rem;
    transition: 350ms;
    display: block;
}

.modal {
    width: 50%;
    height: 60%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10rem auto 0 auto;
    filter: brightness(92%);
}

.modal img {
    width: 200px;
    height: 40vh;
}

.modal span {
    float: right;
    font-size: 35px;
    color: black;
    margin: 0.8rem 1.5rem;
    transition: 150ms;
    cursor: pointer;
}

.modal span:hover {
    color: #990000;
    transition: 150ms;
}

.modal h2 {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    color: black;
}
.info-modal p {
    font-size: 0.8rem;
    padding: 5px;
}
.info-modal p strong:hover{
    border-bottom: 0.1px solid #4c0a01;
    cursor:default;
}

#modalKardeck, #modalEdwardBlake, #modalGabrielbs18, #modalSuricato, #modalAmzol, #modalSandrojr, #modalCicco, #modalRai, #modalYan, #modalDL, #modalBruninho, #modalLeoReis, #modalZilla, #modalRonaldinho, #modalRaulMazarim, #modalAsafe, #modalLuizAndrade, #modalMik, #modalJhon, #modalAleProven  {
    display: none;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.conteudo-modal {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
}
hr {
    opacity: 10%;
    color: #cecece;
}









/* footer */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #150122;
  padding: 20px;
  color: #d6d6d6;
}
footer h2 {
    color: #d6d6d6;
}
.principal-content{
  display: flex;
}
.principal-content .f-box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.f-box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.f-box .f-content{
  margin: 20px 0 0 0;
  position: relative;
}
.f-box .f-content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.f-box .f-content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #1a8e1a;
  top: -10px;
}
.f-left .f-content p{
  text-align: justify;
  padding-top: 3px;
}
.f-left .f-content .contacts{
  margin: 20px 0 0 0;
}
.f-left .f-content .contacts a{
  padding: 0 2px;
}
.f-left .f-content .contacts a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.f-left .f-content .contacts a span:hover{
  background: #1a8e1a;
}
.f-center .f-content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.f-center .f-content .fas:hover{
  background: #1a8e1a;
}
.f-center .f-content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.f-center .f-content a {
    color: #d6d6d6;
}
.f-right form .text{
  font-size: 1.0625rem;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #d6d6d6;
}
.f-right form .msg{
  margin-top: 10px;
}
#input-nome, #input-email{
  width: 100%;
  font-size: 1.0rem;
  background: #dadada;
  padding-left: 10px;
  border: 1px solid #222222;
}
.form-content {
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
}
#descri-news {
    padding-top: 10px;
    padding-bottom: 10px;
}
.f-right form input:focus,
.f-right form textarea:focus{
  outline-color: #1a8e1a;
}
.f-right form input{
  height: 35px;
}
.f-right form .btn{
  margin-top: 10px;
}
.f-right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background:#1c981c;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: #d6d6d6;
}
.f-right form .btn button:hover{
  background: #1a8e1ae7;
}
.rodape {
    margin-top: 1rem;
}
.rodape center{
  padding: 3px;
  font-size: 0.9375rem;

}
.rodape center span{
  color: #3d3b3b;
}
.rodape center a{
  color: #ababab;
  text-decoration: none;
  padding-right: 5rem;
}
.rodape center a:hover{
  text-decoration: underline;
}


@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .principal-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .principal-content .f-box{
    margin: 5px 0;
  }
}

@media screen and (max-width:840px) {
    .rodape span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .rodape span a {
        padding-right: 0rem;
    }
}















@media only screen and (max-width: 1025px) {

    html, body {overflow-x: hidden;}
    .seta-back, .seta-next {display: none;} 
    .slide-control {height: 40vh; border-radius: 0;}
    .slide-control:hover {background-color: transparent;}

    .nav-item{position: relative; margin-left: auto; margin-right: auto;display: inline-block; margin: 0 10px;}


    .mobile-top3 {margin: auto; padding-left: 30px; padding-right: 30px;}

    .mobile-description{padding-bottom: 200px; margin: auto;padding-left: 30px; padding-right: 30px; padding-top: 30px;}
    .top3-img{width: 14rem;}
    .grid-one-content{padding: 100px;}
    .grid{gap: 200px};
    .grid h3 {font-size: 2rem;position: relative;padding-left: 5rem;padding-bottom: 0.4rem;color: white;}
    .grid h3::before {font-size: 4rem; top: -7rem; left: 24rem; }
    .img2, .img3{margin-right: 75px;}
    .grid, .grid-one-content  {display: grid; grid-template-columns: 1fr; height: 100%;}
    .grid-gallery{grid-template-columns: repeat(2, 1fr);}
    
    .estatisticas-time {flex-direction: column; align-items: center; gap: 4rem;}
    .nav-item,.nav-list {transform: translateX(10000px);}
    .menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }
    .menu-mobile-content{
        position: absolute;
        width: 100vw;
        background-color: #150122;
        height: 106vh;
        display: none;
        align-items:center;
        justify-content: center;
    }
    .nav-mobile-item {
        display: flex;
        text-decoration: none;
        justify-content: space-around;
        height: 9vh;
        font-family:  Helvetica, Arial, sans-serif;
        color: white;
        cursor: pointer;
    }
    .x-mobile {
        display: flex;
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 36px;
        cursor: pointer;
        right: 5rem;
        top: 4.5rem;
        z-index: 100;
    }
}







@media screen and (max-width: 835px) {
    

    html, body {overflow-x: hidden;}
    .seta-back, .seta-next {display: none;} 
    .slide-control {height: 65vh; border-radius: 0;}
    .slide-control:hover {background-color: transparent;}

    .menu {height: 4em;}

    .history-content{margin-top: 2rem;margin-bottom: 2rem;}

    .mobile-top3 {
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .mobile-description{padding-bottom: 200px; margin: auto;padding-left: 30px; padding-right: 30px;
    padding-top: 30px;}
    .top3-img{width: 14rem;}
    .grid-one-content{padding: 100px;}
    .grid{gap: 200px};
    .grid h3 {font-size: 2rem;position: relative;padding-left: 5rem;padding-bottom: 0.4rem;color: white;}
    .grid h3::before {font-size: 4rem;  left: 11rem; }
    .img2, .img3{margin-right: 18rem;top: -7em; max-width:100%;}


    /*galeria*/

    #gallery{display: grid; justify-content: center;}

    .gallery-img {
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        
    }
    
    .gallery-img img {
        transition: none;
        
    }
    .gallery-img img:hover {
        transform: none;
    }
    #gallery h2 {
        margin-top: 6.7rem;
    }
    .grid-gallery{grid-template-columns: repeat(1, 1fr);}

    /*galeria*/

    /* .nav-list{display: none;}
    .mobile-menu{display: flex;} */
    

    .nav-list {     
        flex-direction: column;
        background-color: yellow;
    }
    header {
        height: auto;

    }
    .logo {
        padding-left: 20px;
        display: inline;
    }




    .modal {
        width: 70%;
        height: 75%;
    }
    
    .modal img {
        width: 200px;
        height: 25vh;
    }
    
    .info-modal p {
        padding: 5px;
        font-size: 0.8rem;
    }
    .info-modal {
        margin-bottom: 12%;
    }
    
    .conteudo-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




@media screen and (max-width: 768px) {
    .nav-list { margin-right: 190px; font-size: 14px;}

}










@media screen and (max-width:600px) {
    

    
    .slide-mb1 {
        background-image: url(./imagens/banner-estadio.PNG);
        
    }
    
    .slide-mb2 {
        background-image: url(./imagens/banner-camisaroxa-drible.PNG);
    }
    
    .slide-mb3 {
        background-image: url(./imagens/jhon-penalti-banner.jpeg);
    }
    
    .slide-mb4 {
        background-image: url(./imagens/banner4-embreve.PNG);
    }

    .slide-item h1 {
        max-width: 550px;
    }
    
    .slide-item h2 {
        max-width: 585px;
    }
}





@media screen and (max-width: 460px) {


    .modal {
        width: 90%;
        height: 92%;
        margin: 2rem auto 0 auto;
    }
    .modal h2 {
        font-size: 1.4rem;
    }
    
    .modal img {
        width: 210px;
        height: 34vh;
        margin-left: 2rem;
    }
    .info-modal p {
        padding: 2px;
        font-size: 0.6rem;
    }
    .info-modal {
        margin-bottom: 12%;
    }
    
    .slide-item h1 {
        max-width: 340px;
    }
    
    .slide-item h2 {
        max-width: 380px;
    }
}




@media screen and (max-width: 376px) {

    .nav-item,.nav-list {
        background: tomato;
        transform: translateX(1000px);
    }
    .menu-mobile {
        transform: translateX(1rem);
    }

    
    .slide-item h2 {
        max-width: 345px;
    }
}