* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #1d032f;
}

.top-head {
    background-color: #150122;
    color: white;
    width: 100%;
    border-bottom: 2px solid #24013b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-midiaSocial {
    width: 16px;
    margin: 3px;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 950px;
    min-height: 130px;
}

#logo-size {
    display: flex;
    align-items: center;
    height: 6rem;
}

.nav-list {
    display: flex;
    list-style: none;
    color: black;
}

.nav-item {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-family:  Helvetica, Arial, sans-serif;
    color: white;
}
.nav-item:hover{
    background-color: #4c0a01;
    color: white;
}

.flex-column {
    flex-direction: column;
}

.slider {
    flex: 1;
    overflow: hidden;
    border-top: 2px solid #330802;
}

.slide-width {
    height: 100%;
    display: flex;
    transition: all ease 1.3s;
}

.slide-item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 2px 2px #333;
    font-size: 50px;
    flex-direction: column;
    filter: brightness(30%);
}

.controls-slide{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    width: 100%;
}

.slide-control {
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.slide-control:hover {
    background-color: #ffffff48;
}

.seta-back {
    width: 30px;
    height: 30px;
    transform: translateX(-2px);
}
.seta-next {
    width: 30px;
    height: 30px;
    transform: translateX(2px) rotateY(180deg);
}

.slide-item h1 {
    font-size: 38px;
    text-shadow: 3px 3px 0px #1f032c;
    max-width: 400px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    
}

.slide-item h2 {
    font-size: 16px;
    max-width: 450px;
    text-transform: uppercase;
}

.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    padding-right: 14px;
    padding-left: 14px;
    height: 45px;
    color: white;
    border: 1.7px solid white;
    font-size: 16px;
    cursor: pointer;
}

.banner-button:hover {
    background-color: #ffffff1a;
    color: white;
}
h1 {
    font-size: 4rem;
}
#subtitle {
    color: white;
}












.white-bg {
    background-color: white;
    color: black;
}

.section {
    background-color: white;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.2;
    color: black;
    text-align: center;
    margin-bottom: 5%;
}

.history-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 80%;
    text-align: center;
}

p {
    margin-bottom: 3%;
}

.grid-one-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    color: white;
    background-color: #150122;
    padding: 8rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    counter-reset: gridContador;
}

.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 0.4rem;
    color: white;

}

.grid h3::before {
    counter-increment: gridContador;
    content: counter(gridContador);
    position: absolute;
    font-size: 4rem;
    font-style: italic;
    top: -2rem;
    left: 1rem;
    transform: rotate(4deg);
}

.grid-ranking {
    margin-bottom: 1rem;
    color: white;
    text-align: left;
}

.grid-ranking-description {
    display: flex;
    justify-content: left;
    padding-bottom: 5rem;
}

.top3-img:hover{
    transform: scale(1.01);
}

.black-color-white-bg {
    background-color: white;
    color: black;
}



/* tabela */


/* tabela */










.gallery-img {
    width: 100%;
    max-width: 20rem;
    max-height: 20rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
#gallery h2 {
    margin-top: 6.7rem;
}

















.rTable {
    margin:auto;
    text-align: center;
    width: 90%;
}

.rTable thead {
    background-color: black;
    font-weight: bold;
    color: white;
}
.rTable tr:nth-child(2n){
    background-color: #ccc;
}
.rTable th, .rTable td {
    padding:10px
}



@media (max-width: 730px) {

    .grid, .grid-one-content  {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
}




@media screen and (max-width: 480px) {
    .rTable{width: 94%;}
    .rTable thead{display: none;}
    .rTable tbody td{display: flex; flex-direction: column;}

}

@media only screen and (min-width: 1200px) {
    .rTable {
        width: 65%;
    }

    

    .rTable tbody tr td:nth-child(1){width: 3%;}
    .rTable tbody tr td:nth-child(2){width: 8%;}
    .rTable tbody tr td:nth-child(3){width: 15%;}
    .rTable tbody tr td:nth-child(4){width: 8%;}
    .rTable tbody tr td:nth-child(5){width: 8%;}
    .rTable tbody tr td:nth-child(6){width: 8%;}
    .rTable tbody tr td:nth-child(7){width: 8%;}
    .rTable tbody tr td:nth-child(8){width: 8%;}
}